.container {
  display: flex;
  justify-content: center;
  background-color: #D1E8E4;

 }
 .big_container {
  margin: 0 0;
 }
 button {
  margin: 10px;
  min-height: 30px;
  border-radius: 5%;
  background-color: #C37B89;
  color: #fff;
  border: none;
  text-transform: uppercase;
 }

 @media only screen and (min-width: 668px) {
  .big_container {
    margin: 0 20%;
   }
 }